main {
    float: left;
    position: relative;
    width: 100%;
}

/* Navigation */
.navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

#main-nav {
    border: none;
    position: absolute;
    background: rgba(0,0,0,0.1);
}

#main-nav li a {
    color: white;
    font-weight: bold;
    padding: 25px 15px;
}

#main-nav li a:hover {
	color: #e0f595;
	background: none;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    background: rgba(0,0,0,0.01) !important;
}

#main-nav .navbar-brand {
    color: #A6D305;
    font-family: lobster;
	padding: 25px 15px;
	font-size: 25px;
}

.dropdown-menu {
    background: rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    float: left;
	display: none;
}

.dropdown-toggle:hover .dropdown-menu {
	display: block;
}


/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 0;
    float: left;
    position: relative;
    width: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	width: 100%;
    height: 100%;
    background: #fff;
	padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    font-family: 'Raleway', sans-serif;
}

/* Footer */
footer {
	background-image: url("../Images/Shared/footer.png");
    float: left;
    width: 100%;
    position: relative;
}

footer .bottom {
    float: left;
    position: relative;
    width: 100%;
}

footer .bottom {
    float: left;
    border-top: 1px solid #282b39;
    color: #fff;
    padding: 30px 0;
}

footer .container {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer .socials ul li {
    float: left;
    display: inline-block;
    position: relative;
}

footer .socials ul li a {
	color: #fff;
    padding: 15px;
}

/* Contact form */
#contact {
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 300;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

#contact > .contact-btn {
    display: block;
	color: #A6D305;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    padding: 12px 14px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

#contact > .contact-btn:hover {
	background: transparent;
}

#contact-form {
    position: absolute;
    width: 280px;
    bottom: 70px;
    right: 0;
    -webkit-box-shadow: 0 0 50px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 50px 10px rgba(0,0,0,0.15);
    box-shadow: 0 3px 13px 0 rgba(0,0,0,0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #A6D305;
    border-radius: 5px;
    padding: 20px;
    z-index: 100;
    display: none;
    background-color: #f7f7f7;
}

#contact-form input,
#contact textarea {
	border-color: #A6D305;
}

/* Responsive */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
}

