@model TravelAdvisor.Web.Models.Destinations.DestinationsListViewModel

@foreach (var item in Model.Destinations)
{
	<div class="col-md-4 fader">
		<a href="" class="thumbnail">
			@if (item.Image != null)
			{
				<img src= "~/Images/+@item.Image.FileName" alt="" class="img-responsive center-block thumbnail-image">
			}

			@if (item.ImageUrl != null)
			{
				<img src="@Url.Content(item.ImageUrl)" alt="" class="img-responsive center-block thumbnail-image">
			}
			<div class="caption text-center">
				<h3>@item.Country</h3>
				<p>@item.Description</p>
			</div>
		</a>
	</div>
}
