/* Destinations */
.thumbnail {
    display: block;
    position: relative;
	float: left;
	text-align: center;
	height: 250px;
	width: 370px;
	margin: 0 auto;
}

thumbnail .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%; 
}

.thumbnail .caption {
    position: absolute;
    top: 50%;
    transition: .4s;
	color: #fff;
}

.thumbnail .caption h3 {
    white-space: nowrap;
	text-align:center;
    font-size: 24px;
	font-weight: 600;
}

.thumbnail p {
	display:none;
}

.thumbnail:hover p {
	display:inline;
}

.fader {
	height: 250px;
	width: 370px;
	display:  inline-block;
	position: relative;
	overflow: hidden; 
	margin: 10px;
}
       
.fader img {
    width:100%;
    height: 100%;
    line-height: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
}
    
.fader img:hover {
    opacity: 0.5;
    width: 120%;
    height: 120%; 
}

.destinations-load-more {
	position:relative;
	float:left;
    width: 330px;
    height: 60px;
}

.prism-button {
	position: relative;
	float: left;
    width: 330px;
    height: 60px;
    cursor: pointer;
    box-sizing: border-box;
	background: transparent;
	color: #A6D305;
    border: 3px solid #A6D305;
    font-family: 'raleway-regular',sans-serif;
    font-size: 13pt;
    text-align: center;
	margin-top: 20px;
    text-transform: uppercase;
}

.prism-button > span:nth-child(1) {
  color: #A6D305;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
