/* Generic */
.generic-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.generic-section > .section-title,
.generic-section > .section-content,
.generic-section > .section-content > .description {
    float: left;
    position: relative;
    width: 100%;
}

.generic-section > .section-content > .description {
    margin: 30px 0;
}

.generic-section > .section-title > h2 {
    font-family: "Lobster";
    padding-bottom: 50px;
    color: #A6D305;
    text-align: center;
}

.generic-section > .section-content > .description > p {
    text-align: center;
    font-size: 15px;
}

/* Header */
.parallax-window {
	background-image: url("../../../Images/Shared/header.png");
}

.parallax-content-1 {
    display: table;
    width: 100%;
    height: 550px;
}

.parallax-content-1 > div {
    display: table-cell;
    padding: 0 15%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.parallax-content-1 div h1 {
    margin-bottom: 0;
    padding-top: 40px;
	box-sizing: border-box;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
	padding: 20px;
}

a.button-intro {
    background: #A6D305;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff !important;
    cursor: pointer;
    padding: 10px 25px;
    display: inline-block;
    outline: none;
    font-size: 12px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 150px;
}

a.button-intro:hover {
	background: transparent;
	text-decoration: none;
}

/* Angle up*/
.toTop {
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #fff;
    background: #c1e443;
    position: fixed;
	display: block;
    right: 35px;
    bottom: 90px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.toTop:hover {
	color: #A6D305;
	font-weight:bold;
    background: transparent;
}

/* Services */
.services .services-list {
    float: left;
    position: relative;
    width: 100%;
}

.services .services-list > div > h2 {
    text-align: center;
    font-family: lobster;
    font-size: 24px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #10b4ea;
}

.services .services-list > div > .row > ul {
    float: left;
    position: relative;
    width: 100%;
}

.services .services-list > div > .row > ul > li a {
    display: block;
    float: left;
    position: relative;
	margin-bottom: 20px;
}

.services .services-list > div > .row > ul > li a:before {
    background: rgba(34,37,51,0.50); 
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.services .services-list > div > .row > ul > li:hover a:before{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0;
}

.services .services-list > div > .row > ul > li span {
	color: #A6D305;
    width: 100%;
    display: block;
    top: 34%;
    font-size: 20px;
    font-family: "Lobster";
    text-align: center;
}

.services-list > div > .row > ul > li p {
	text-align: center;
	font-size: 15px;
}

.services-list .block-1-icon {
    background: #EBECEE;
    border-bottom: #97caeb 1px solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	color: white;
    width: 110px;
    height: 110px;
    text-align: center;
    margin: 0 auto 0 auto;
    font-size: 60px;
    line-height: 1em;
    padding-top: 25px;
    margin-bottom: 30px;
}

.services-list .block-1-icon:hover {
	background: white;
	color: #A6D305;
}

/* Destinations */

/* Testimonials */
.testimonials { 
    width: 100%;
}

.testimonials.parallax {
    background-image: url("../../../Images/Shared/services.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials .section-title > h2 {
    color: #888;
}

.testimonials blockquote {
    border-right: 5px solid #eeeeee;
    background: #B7DB36;
    color: #fff;
}

.testimonials blockquote p{
	padding: 10px 0;
    text-align: center;
    font-size: 22px;
}

.qot-week {
    clear: both;
    margin: 0;
    position: relative;
    text-align: center;
    padding: 0 200px;
}

.qot-week .qot-pic:before {
    content: '\201C';
    border-top: 2px solid #c4c4c4;
    border-radius: 50%;
    font-size: 60px;
    color: #555;
    font-weight: bold;
    background: #fff;
    padding: 3px 20px;
    font-family: Georgia, Times, serif;
}

.qot-week .qot-pic {
    position: relative;
    margin: 0 auto;
    margin-top: 7px;
    height: 40px;
    width: 70px;
}

.testimonials cite {
    color: #fff;
    font-size: 20px;
}