/* Common */
main {
    background: url("../../../Images/Shared/sign.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:auto;
    float: left;
    position: relative;
}

/* Form */
.form-box {
	margin-top: 140px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; font-family: "Lobster"; font-size: 30px;}
.form-top-left p { opacity: 0.8; color: #fff; font-family: "raleway-regular"}
.checkbox label { font-family: "raleway-regular";color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; 
	-webkit-border-radius: 0 0 4px 4px; 
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom .control-label {
	color: #fff;
}

.form-bottom form button.btn {
	width: 100%;
}

#login, #registration, #changePassword {
    float: none;
    margin: 0 auto 30px auto;
}

/* Form inputs */
input[type="text"], 
input[type="password"], 
input[type="email"], 
select,
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    -moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
    -o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s;
	transition: all .3s;
}

.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    -moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
    -o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s; 
	transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="email"]:focus, 
select:focus,
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none;
	-webkit-box-shadow: none; 
	box-shadow: none;
}

.btn-signin.btn,
.btn-register.btn,
.btn-change.btn {
    width: 100%;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #A6D305;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
    -o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s;
	transition: all .3s;
}

.btn-signin.btn:hover, .btn-register.btn:hover, .btn-change.btn:hover { opacity: 0.6; color: #fff; }

.btn-signin.btn:active, .btn-register.btn:active, .btn-change.btn:hover { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.btn-signin.btn:focus, .btn-register.btn:focus, .btn-change.btn:hover { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.btn-signin.btn:active:focus .btn-register.btn:active:focus .btn-change.btn:hover { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.text-signup {
	color: #fff;
	font-size: 15px;
	text-align: center
}

.text-signup a {
	color: #A6D305;
	text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #888;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #888;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #888;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #888;
}

.text-danger {
    color: #9C2B2E !important;
	font-weight:bold;
	font-size: 17px;
    padding: 5px;
}