/* Admin Home */
body,html {
    height: 100%;
}

main {
    background: url("../../../../Images/Admin/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    position: relative;
    min-height: 100%;   
}

.body-content {
    padding-top: 70px;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}
