<div class="bottom">
	<div class="container">
		<div class="copyright pull-left">
			Copyright 2017
			<a href="https://github.com/Xristinaaaa/Travel-Advisor">Travel Advisor</a>
			| All Rights Reserved
		</div>
		<div class="socials col-md-offset-10">
			<ul>
				<li class="facebook" data-toggle="tooltip" title="Facebook" data-placement="top">
					<a href="#">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
				</li>
				<li class="twitter" data-toggle="tooltip" title="Twitter" data-placement="top">
					<a href="#">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
				</li>
				<li class="linkedin" data-toggle="tooltip" title="Linked-in" data-placement="top">
					<a href="#">
						<i class="fa fa-linkedin fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>