<div class="bottom">
	<div class="container col-md-12">
		<div class="socials">
			<ul>
				<li class="facebook" data-toggle="tooltip" title="Facebook" data-placement="top">
					<a href="#">
						<i class="fa fa-facebook fa-lg"></i>
					</a>
				</li>
				<li class="twitter" data-toggle="tooltip" title="Twitter" data-placement="top">
					<a href="#">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
				</li>
				<li class="linkedin" data-toggle="tooltip" title="Linked-in" data-placement="top">
					<a href="#">
						<i class="fa fa-linkedin fa-lg"></i>
					</a>
				</li>
				<li class="rss" data-toggle="tooltip" title="Instagram" data-placement="top">
					<a href="#">
						<i class="fa fa-instagram fa-lg"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>