/* Common */
html {
    height: 100%;
}

main {
    background: url("../../../Images/Admin/admin.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}

.body-content {
	margin-top: 50px;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Form */
.form-box {
	margin-top: 100px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0;
	text-align: center;
}

.form-top-left {
	float: left;
	width: 100%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #A6D305; font-family: "Lobster"; font-size: 30px;}
.checkbox label { font-family: "raleway-regular";color: #fff; }

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; 
	-webkit-border-radius: 0 0 4px 4px; 
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom .control-label {
	color: #fff;
}

.form-bottom form button.btn {
	width: 100%;
}

#createDescription, #createTrip {
    float: none;
    margin: 0 auto 30px auto;
}

/* Form inputs */
input[type="text"], 
input[type="country"], 
input[type="description"], 
select {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    -moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
    -o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s;
	transition: all .3s;
}

textarea, 
textarea.form-control{
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    -moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
    -o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s;
	transition: all .3s;
}

.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    -moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
    -o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s; 
	transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="country"]:focus,
input[type="description"]:focus, 
select:focus,
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #fff;
    -moz-box-shadow: none;
	-webkit-box-shadow: none; 
	box-shadow: none;
}

.btn-create.btn{
    width: 100%;
	height: 60px;
    padding: 0 20px;
    background: #A6D305;
    border: 0;
    font-family: Lobster, sans-serif;
    font-size: 22px;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none;
    -o-transition: all .3s; 
	-moz-transition: all .3s; 
	-webkit-transition: all .3s;
	transition: all .3s;
}

.btn-create.btn:hover { opacity: 0.6; color: #fff; }

.btn-create.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.btn-create.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.btn-create.btn:active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #888;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #888;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #888;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #888;
}

.imageUpload {
	margin-top:20px;
}
.text-danger {
    color: #9C2B2E !important;
	font-weight:bold;
	font-size: 17px;
    padding: 5px;
}