@model TravelAdvisor.Web.Models.Manage.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="manageProfile">
    <div>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", "Manage")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", "Manage")
            }
    </div>
</div>
