<section class="parallax-window">
	<div class="parallax-content-1">
		<div class="animated fadeInDown">
			<h1 class="page-title">We Create Memories</h1>
			<p class="animated fadeInDown">CHOOSE YOUR DESTINATION!</p>
			<a class="button-intro" href="">Trips</a>
			<a class="button-intro" href="">Cruises</a>
		</div>
	</div>
</section>