@using (Ajax.BeginForm("GetDestinations", "Home",
	 new AjaxOptions
	 {
		 HttpMethod = "POST",
		 UpdateTargetId = "destinations",
		 InsertionMode = InsertionMode.Replace
	 }))
{
<div id="destinations" class="container">
	<div class="row destinations-main-page generic-section">
		<div class="destinations-content section-title">
			<h2>Popular destinations</h2>
			<div class="row"> 
				@Html.DisplayFor(c => Model)
			</div>
			<div class="col-md-offset-4 destinations-load-more">
				<input class="col-md-offset-1 prism-button prism-wrap" type="submit" value="SHOW MORE"/>
			</div>
		</div>
	</div>
</div>
}