<section id="services" class="services generic-section container">
	<div class="section-title">
		<h2>Plan your perfect trip with us</h2>
	</div>
	<div class="section-content">
		<div class="description">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum nunc mi. Nulla non magna libero. 
				In ultricies eu turpis sit amet dapibus. Vestibulum venenatis arcu elementum ipsum interdum tincidunt. 
				Nulla auctor nulla non magna sollicitudin, ut porta quam pulvinar. 
				Suspendisse quis nibh purus. Morbi feugiat feugiat lacus eget aliquet. Nunc finibus id leo ut feugiat.
			</p>
		</div>
		<div class="services-list">
			<div class="col-md-12">
				<div class="row">
					<ul>
						<li class="col-sm-3">
							<div class="block-1-icon">
								<div class="fa fa-plane"></div>
							</div>
							<span>The Most Reliable Airlines</span>
							<p>We cooperate only with the most reliable airlines who can boast the perfect reputation.</p>
						</li>
						<li class="col-sm-3">
							<div class="block-1-icon">
								<div class="fa fa-search"></div>
							</div>
							<span>User-Friendly System</span>
							<p>Convenient and fast search for top trips, cruises, airline tickets and cars.</p>
						</li>
						<li class="col-sm-3">
							<div class="block-1-icon">
								<div class="fa fa-address-book-o"></div>
							</div>
							<span>Fast Booking</span>
							<p>We provide reliable booking system, which is also perfect for first-time travellers.</p>
						</li>
						<li class="col-sm-3">
							<div class="block-1-icon">
								<div class="fa fa-car"></div>
							</div>
							<span>Car Rentals</span>
							<p>We have established relationships with the best car rental services.</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

