/* Common */
html {
    height: 100%;
}

main {
    background: url("../../../../Images/Admin/admin.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%; 
}

.body-content {
	margin-top: 100px;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Sections */
.admin-list .dropdown-toggle > span {
	position: relative;
	float: left;
    width: 300px;
    height: 60px;
	padding: 14px 0;
    cursor: pointer;
    box-sizing: border-box;
	background: transparent;
	color: white;
    border: 3px solid #0A6E66;
    font-size: 15pt;
    text-align: center;
	margin-top: 20px;
    text-transform: uppercase;
}

.admin-list .dropdown-toggle > span {
	color: white;
	transform: translate3d(0, 0, 30px);
	-webkit-transform: translate3d(0, 0, 30px);
}

.admin-list .dropdown-menu {
	position: relative;
	float: left;
	text-align: center;
	border: 3px solid #0A6E66;    
	width: 200px;
    height: 40px;
	font-size: 12pt;
	margin-top: 10px;
}

.admin-list .dropdown-menu li a {
	color: white;
	box-sizing: border-box;
	background: transparent;
}

.admin-list .dropdown-menu li a:hover,
.admin-list .dropdown-toggle > span:hover {
	text-decoration: none;
	background: none;
}